*{
    /* color: white; */
    border: none;
    padding: 0px;
    margin: 0px;
}

header{
    margin-top: 10px;
    display: flex;
    width: 870px;
    justify-content: space-between;
}

.card:hover{
    background-color: #343B41;
}

.headerExterno{
    display: flex;
    justify-content: center;
}

.logo{
    color: #FF577F;
    font-size: 1.2rem;
}

body{
    background-color: #121214;
}

.caixaDoNome{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 870px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.caixaDoNomeExterna{
    display: flex;
    border-top: 1px solid #212529;
    border-bottom: 1px solid #212529;
    justify-content: center;
}

.tecnologia{
    color: white;
}

.superiorConteinerExterno{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.superiorConteiner{
    display: flex;
    width: 870px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.BtnSaida{
    color: white;
    background-color: #212529;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.BtnNovaTecnologia{
    color: white;
    background-color: #212529;
    width: 32px;
    height:25px;
    cursor: pointer;
}

.MainExterno{
    display: flex;
    justify-content: center;
}

main{
    width: 870px;
    /* height: 400px; */
    /* background-color: #212529; */
    /* margin-left: 250px; */
    /* margin-bottom: 10px; */
}

.card{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 45px;
    background-color: #121214;
    border: solid #212529 15px;
    cursor: pointer;
}

.modal{
    width: 370px;
    height: 260px;
    background-color: #212529;
    position: absolute;
    top: 25%;
    left: 40%;
    right: auto;

}

.btnModal{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #343B41;
    color: #868E96;
    font-size: 16px;
    margin-right: 6px;
}

.tituloModal{
    margin-left: 10px;
}

.parteSuperiorModal{
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343B41;
    border-bottom: solid #212529 15px;
}

.corpoModal{
    height: 100%;
    width: 100%;
    background-color: #212529;
    color: #F8F9FA;
}

.inputNameModal{
    margin-left: 20px;
    margin-top: 10px;
    height: 50px;
    background-color: #343B41;
    width: 330px;
    color: white;
}

.indentificadorModal{
    margin-left: 20px;

}

.module{
    color: #868E96;
}

.BtnCadastrarModal{
    margin-top: 20px;
    margin-left: 20px;
    height: 50px;
    width: 330px;
    background-color: #FF577F;
    color: white;
    cursor: pointer;
}

.BtnSalvarAlterações{
    width: 201px;
    background-color: #59323F;
    color: white;
    height: 50px;
    cursor: pointer;
}

.divBtnsDelete-editar{
    margin-top: 13px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btnDeletar{
    cursor: pointer;
    color: white;
    width: 100px;
    height: 50px;
    background-color: #868E96;
}